<div class="ContestRules">
  <div class="ContestRules-container">
    <h2 class="ContestRules-heading">Contest Rules:</h2>
    <h4 class="ContestRules-subHeading"><em>Official Rules</em></h4>
    <ol class="ContestRules-list">
      <li><strong>Who is eligible:</strong>  <em>Contest data goes here.</em></li>
      <li><strong>Who is <em>not eligible</em>:</strong> <em>Contest data goes here.</em></li>
      <li><strong>Entry periods, drawing date, and prize amount:</strong> <em>Contest data goes here.</em></li>
      <li><strong>The Winners:</strong> <em>Contest data goes here.</em></li>
      <li><strong>How to Enter:</strong> <em>Contest data goes here.</em></li>
      <li><strong>Eligibility:</strong> <em>Contest data goes here.</em></li>
      <li><strong>Prizes:</strong> <em>Contest data goes here.</em></li>
      <li><strong>Entries not received:</strong> <em>Contest data goes here.</em></li>
      <li><strong>Entrant’s agreement:</strong> <em>Contest data goes here.</em></li>
      <li><strong>Signing Documents:</strong> <em>Contest data goes here.</em></li>
      <li><strong>Entrant’s release:</strong> <em>Contest data goes here.</em></li>
      <li><strong>Termination of sweepstakes:</strong> <em>Contest data goes here.</em></li>
      <li><strong>Tax Forms:</strong> <em>Contest data goes here.</em></li>
      <li><strong>Jurisdiction and Venue:</strong> <em>Contest data goes here.</em></li>
      <li><strong>When bad things happen:</strong> <em>Contest data goes here.</em></li>
      <li><strong>The sponsor/administrator:</strong> <em>Contest data goes here.</em></li>
      <li><strong>Rights claimed:</strong> <em>Contest data goes here.</em></li>
      <li><strong>Privacy:</strong> <em>Contest data goes here.</em></li>
    </ol>
  </div>
</div>
