<div class="ContestDetails">
  <h1>Welcome to the Contest Example</h1>

  <p>If this is your first time here this week, you should see the contest modal, and have an entry in the contest table.</p>
  <p>If you have been here before today, you will not see the modal or get another entry in the table.</p>
  <p>If you have been here before this week, you will not see the modal, but will get another entry in the table.</p>
  <p>Each day you'll be entered into the table, and each week you will see the modal once each week.</p>
  <p>You can clear the cookies to see the modal again, but this won't create an extra entry in the table.</p>

  <ul>
    <li><%= link_to "Rules", contest_rules_path  %></li>
    <li><%= link_to "Download all Contest Entries (.csv)", contest_entries_path(format: :csv)  %></li>
    <li><%= link_to "Download all Contest Entries for Excel", contest_entries_path(format: :xls)  %></li>
    <li><%= link_to "View  Contest Entries for Today", contest_entries_path(contest_date: Date.today)  %></li>
  </ul>
</div>
